In [2]:
s = (1,2,3,4,5,6,7,8,9)
even_count, odd_count = 0, 0

for i in s:
    if i % 2 == 0:
        even_count+=1
    else:
        odd_count+=1
print("Number of Even Number: ",even_count)
print("Number of Odd Number: ",odd_count)

Number of Even Number:  4
Number of Odd Number:  5

In [6]:
s1 = []
for num in range(1500,2701):
    if (num%5==0) and (num%7==0):
        s1.append(str(num))
print(','.join(s1))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [16]:

for num in range(1,51):
    s = []
    if num%3==0 and num%5==0:
        print("fizbuzz")
        continue
    elif num%3==0:
        print("fiz")
        continue
    elif num%3==0:
        print("buzz")
        continue
    
    print(num)

1
2
fiz
4
5
fiz
7
8
fiz
10
11
fiz
13
14
fizbuzz
16
17
fiz
19
20
fiz
22
23
fiz
25
26
fiz
28
29
fizbuzz
31
32
fiz
34
35
fiz
37
38
fiz
40
41
fiz
43
44
fizbuzz
46
47
fiz
49
50

In [24]:
n = input("Enter the number to calculate sum & average: ")
n = int(n)
sum = 0
for num in range(0 ,n+1, 1):
    sum = sum + num
average = sum/n
print("sum of", n, "number is: ",sum)
print("Average of", n, "number is: ",average)

Enter the number to calculate sum & average: 55
sum of 55 number is:  1540
Average of 55 number is:  28.0

In [3]:
n = int(input("Enter the Number: "))
result = 1
for i in range(n,0,-1):
    result = result * i
print(result)

Enter the Number: 4
24

In [8]:
s = [1,2,3,4,5,6,7,8,9]
s2 = [i for i in s if i%2==0]
print(s2)

[2, 4, 6, 8]

In [9]:
key_value = {"ravi":10,"rajnish":9,"sanjeev":15,"yash":2,"suraj":32}
print(list(sorted(key_value.items())))

[('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32), ('yash', 2)]

In [4]:
string = "i'am a programmer"
string1= string.replace(' ','')
dict = {}

for i in string1:
    if i in dict:
       dict[i] += 1
    else :
       dict[i] = 1
print(dict)

{'i': 1, "'": 1, 'a': 3, 'm': 3, 'p': 1, 'r': 3, 'o': 1, 'g': 1, 'e': 1}

In [11]:
string = 'i am a programmer'
string = string.replace(' ', '')

temp = ''

for s in string:
    if s not in temp:
        temp = temp + s
        
for t in temp:
    count = 0
    for s in string:
        if s == t:
            count += 1
    print(t, '=', count)

i = 1
a = 3
m = 3
p = 1
r = 3
o = 1
g = 1
e = 1

In [3]:
n = 123456789009876512345
n1 = str(n)
Pair = 3


for i in range(0, len(n1),Pair):
   n2 = n1[i:i+Pair]
   result = (int(n2)**(0.5))
   print((n2,result))

('123', 11.090536506409418)
('456', 21.354156504062622)
('789', 28.089143810376278)
('009', 3.0)
('876', 29.597297173897484)
('512', 22.627416997969522)
('345', 18.57417562100671)